.container {
	border:1px solid black;
}

div.row{
	border-bottom:2px solid black;
}

#face-container{
	border-right: 2px solid black;
	text-align: center;
}

#face-container img, #logo-container img {
	padding:20px 5px;
}

#logo-container{
	text-align: center;
}

.input-container{
	padding-top: 10px;
	padding-bottom:20px;
}

.error{
	color:red;
	font-size: 10px;
	display: block;
	padding-left: 20px;
}

button {
	float: right;
	margin: 50px 20px 20px 0px;
}

.result-container{
	padding: 20px;
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	opacity: 1;
}

.formContainer {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	opacity: 1;
}

.formContainer.ng-hide {
 	opacity: 0;
	margin-left: -300px;
	border-bottom: none;
}

.result-container.ng-hide{
	opacity: 0;
	margin-left: 300px;
}

.formContainer.ng-hide-add, 
.formContainer.ng-hide-remove,
.result-container.ng-hide-add,
.result-container.ng-hide-remove {
	display: block !important;
	border-bottom: none;
}

